body {
	background: linear-gradient(135deg,#26a0da,#314755) fixed;	
	 font: 10pt Arial, Helvetica, Sans-Serif;
     color: #000000;
}

header {

text-align: center;
  
}

#wrapper {
   width: 90%;
   min-width: 600px;
   max-width: 1200px;
   margin: 1em auto;
   background-color: #cee9f7;
   padding: 0;
   box-shadow: 8px 8px 10px black;
   border-radius: 3px;
   
}

#wrapper2 {
  width: 60%;
  min-width: 600px;
  max-width: 1200px;
  margin: 1em auto;
  background-color: #cee9f7;
  padding: 0;
  box-shadow: 8px 8px 10px black;
  border-radius: 3px;
}

#wrapper3 {
  width: 80%;
  min-width: 600px;
  max-width: 1200px;
  margin: 1em auto;
  background-color: #cee9f7;
  padding: 0;
  box-shadow: 8px 8px 10px black;
  border-radius: 3px;
}

#wrapper4 {
  width: 70%;
  min-width: 600px;
  max-width: 1200px;
  margin: 1em auto;
  background-color: #cee9f7;
  padding: 0;
  box-shadow: 8px 8px 10px black;
  border-radius: 3px;
}

header {
  background-color: #1a6f98;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size:24px;
  font-weight: bold;
}
header img {
	margin: 8px;
	vertical-align: middle;
}

.flexcontainer{
  display:flex;
}

nav {
	background-color: #1a6f98;
}

nav a {
  display: block;
  width: 150px;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 125%;
  border-bottom: solid 1px #cee9f7;
  border-top: solid 1px #cee9f7;
  overflow: auto;
}

article {
  padding: 0 10px;
  width: auto;
}

/* Third column, on the right */
aside{
  border-left: solid 1px #a48362;
  padding: 20px;
}


/* Images inside the aside div */
aside img{
  display:block;
  width: 140px;
  margin: 10px auto;
}

footer {
  background-color: #1a6f98;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align:center;
  padding: 8px 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

h1 {
  font: italic small-caps bold 24px Arial Black, Gadget, Sans-Serif;
  text-shadow: -2px -2px 2px #1a6f98;
  text-align: center;
}

h2 {
  font: italic small-caps bold 18px Arial Black, Gadget, Sans-Serif;
  text-shadow: -1px -1px 1px #1a6f98;
}

h4 {
  text-align: center;
  font-size: medium;
}


p {
  line-height: 1.5;
  margin-top: 0;
}

/* Create raised appearance with border, rounded corners, and shadow */
/* Works with images, tables, and block elements (div, p, and headings) */
.raised {
  border: solid 1px gray;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
}

/* Image floating to the left of neighboring text */
img.left {
  float: left;
  width: 30%;
  margin-right: 10px;
}

/* Image floating to the left of neighboring text */
img.right {
  float: right;
  width: 30%;
  margin-left: 10px;
}

/* Use class="centerall" in p or div to center
     all text and images inside the element */
.centerall {
  text-align: center; /* Clear any floating elements */
  clear: both;
}

a:link {
	color: #0c391c;
}

a:visited {
	color: #cee9f7;
}

a:hover {
    color: #1e2953;
}

a:active {
    color: #bc9f81;
}

/* ==== Styling for tables ==== */
       /* Styling for the table as a whole */ 
       table { 
         /* Remove gaps between table cells */ 
         border-collapse: collapse;  
         /* Font size, family, and color */ 
         font: 12pt Times, "Times New Roman" , Serif; 
         color: #1a6f98;  
         /* top/bottom and side margins (auto for centering) */ 
         margin: 1em auto; 
       } 
       /* Table header cells */ 
       th { 
         background-color: #1a6f98; 
         color: white; 
       } 

       td {
        text-align: center;
       }
       /* Header and data cells */ 
       th, td { 
         border: solid 1px #1a6f98; 
         padding: 2px 4px; 
         text-align: center;
         
       } 
       /* Give even-numbered rows tan background color */ 
       tr:nth-child(even) { 
       } 
       /* Right align content in column 2 data cells */ 
       td:nth-child(2) { 
         text-align: center;
       } 
       /* Center content in column 3 data cells */ 
       td:nth-child(3) { 
         text-align: center; 
       }
       /* Highlight table row on hover */ 
       tr:hover{ 
         background-color:#26a0da; 
         cursor:default;
       }

       /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 30%;
  padding: 10px;
  align-content: center;
  
  
  p {
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
  }
}

.column2 {
  width: 100%;
  
  align-content: center;
  
  
  p {
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    align-items: center;
  }
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
  text-align: center;
}

section {
  p {
    text-align: center;
    align-content: center;
  }

  h3 { 
    text-align: center;
  }

  aside{
    border-left: solid 1px #a48362;
    padding: 20px;
  }

  img {
    align-content: center;
  }

}

.center2 {
  margin: auto;
  width: 80%;
  padding: 10px;

  img {
    float: left;
  }
}

.center {
  margin: auto;
  width: 80%;
  border: 3px solid #1a6f98;
  padding: 10px;
  
  .img {
    display: flex;
  align-items: center;
  justify-content: center;
  }
}

.center3 {
  margin: auto;
  width: 50%;
  border: 3px solid #1a6f98;
  padding: 10px;
}

